/* Global Variables */

:root {
  --link-colour-primary: #000;
  --link-colour-hover: #1e90ff;
  --border-colour: #d3d3d3;
  --animation-delay: 3s;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: var(--link-colour-primary);
  text-decoration: none;
}

a:hover {
  color: var(--link-colour-hover);
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* HAMBURGER MENU */

/* Style the navigation menu */
.topnav {
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 999;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  width: 100vw;
}

/* Style navigation menu links */
.topnav a {
  color: var(--link-colour-primary);
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 25px;
  padding: 1rem;
  text-decoration: none;
}

.topnav a:hover {
  color: var(--link-colour-hover);
}

/* TABLES */

th,
td {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 25px;
  text-align: left;
  vertical-align: top;
}

/* ICON CSS */

i {
  color: var(--link-colour-primary);
  font-size: 3rem;
}

i:hover {
  color: var(--link-colour-hover);
}

/* SITE/PAGE TITLE CONTAINER */

.site-title {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.page-title {
  text-align: center;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 1300px) {
  .site-title h1 {
    font-size: 1.5rem;
    margin: auto;
    padding: 20px;
    width: 50%;
  }
  .page-title h1 {
    font-size: 1.5rem;
    margin: auto;
    padding: 20px;
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .page-title h1 {
    display: none;
  }
}

/* FOOTERS */

.home-page-footer {
  bottom: 0px;
  padding: 40px 0 40px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
.home-page-footer i {
  padding: 0px 25px;
}

.page-footer {
  background-color: white;
  bottom: 0px;
  padding: 40px 0 40px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.page-footer i {
  padding: 0px 25px;
}

/* TOOLTIPS */

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: black;
  border-radius: 6px;
  color: white;
  font-size: 5rem;
  padding: 30px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  border-color: transparent transparent black transparent;
  border-style: solid;
  border-width: 25px;
  bottom: 100%;
  content: "";
  left: 15%;
  margin-left: -25px;
  position: absolute;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* FORMS */

.form-section {
  display: flex;
  margin: 150px auto 150px auto;
  width: 100%;
}

p.italic {
  font-style: italic;
}

/* Style the label to display next to the inputs */
label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

/* Style inputs, select elements and textareas */
input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  border: 1px solid var(--border-colour);
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 45px;
  padding: 12px;
  resize: vertical;
  transition: border-color 0.25s, box-shadow 0.25s;
  width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-color: var(--link-colour-hover);
  box-shadow: 0 0 4px rgb(30, 144, 255, 0.25);
  outline: 0;
}

textarea:focus {
  border-color: var(--link-colour-hover);
  box-shadow: 0 0 4px rgb(30, 144, 255, 0.25);
  outline: 0;
}

/* Style the submit button */
input[type="submit"] {
  background: var(--link-colour-primary);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 5px;
  padding: 12px 20px;
}

input[type="submit"]:hover {
  background: var(--link-colour-hover);
}

/* Style the container */
.form-container {
  border-top: 1px solid black;
  margin: 10px auto 50px auto;
  max-width: 800px;
  padding: 20px;
  width: 100%;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  margin-top: 6px;
  width: 25%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  margin-top: 6px;
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75 {
    margin-top: 0;
    width: 450px;
  }
}

/* STARFIELD */

.starfield-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 100vw;
}

.box-up {
  animation: box-up ease-in infinite;
  animation-duration: 15s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-right-up {
  animation: box-right-up ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 1);
  animation-duration: 14s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-right {
  animation: box-right ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 2);
  animation-duration: 7s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-right-down {
  animation: box-right-down ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 3);
  animation-duration: 8s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-down {
  animation: box-down ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 4);
  animation-duration: 13s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-left-down {
  animation: box-left-down ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 5);
  animation-duration: 16s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-left {
  animation: box-left ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 6);
  animation-duration: 10s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

.box-left-up {
  animation: box-left-up ease-in infinite;
  animation-delay: calc(var(--animation-delay) * 7);
  animation-duration: 14s;
  height: 100px;
  position: absolute;
  scale: 0%;
  width: 100px;
}

@keyframes box-up {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(0px) translateY(-1500px);
  }
}

@keyframes box-right-up {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(1500px) translateY(-1500px);
  }
}

@keyframes box-right {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(1500px) translateY(0px);
  }
}

@keyframes box-right-down {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(1500px) translateY(1500px);
  }
}

@keyframes box-down {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(0px) translateY(1500px);
  }
}

@keyframes box-left-down {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(-1500px) translateY(1500px);
  }
}

@keyframes box-left {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(-1500px) translateY(0px);
  }
}

@keyframes box-left-up {
  from {
    scale: 0%;
    transform: translateX(0px) translateY(0px);
  }
  to {
    scale: 100%;
    transform: translateX(-1500px) translateY(-1500px);
  }
}

/* GRID  */

.grid-container {
  display: flex;
  display: none;
  flex-wrap: wrap;
  height: 80%;
  justify-content: space-evenly;
  margin: 75px auto 150px auto;
  width: 80vw;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding-bottom: 25px;
  transition: 0.3s;
  width: 25%;
}

@media screen and (max-width: 1500px) {
  .card {
    width: 33%;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px 0px 30px;
}

.card img {
  display: block;
  height: 250px;
  margin: auto;
  padding: 10% 0 5% 0;
}

/* ITEM PAGE */

.item-container {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: space-evenly;
  margin: 75px auto auto auto;
  width: 60%;
}

/* Hide the images by default */
.mySlides {
  display: inline;
}

.slideImage {
  height: 500px;
  margin: auto;
}

/* Next & previous buttons */
.prev-next-container {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.prev,
.next {
  -webkit-user-select: none;
  cursor: pointer;
  flex-grow: 0;
  line-height: 1rem;
  text-align: center;
  user-select: none;
  width: 40px;
}

/* Container for image text */
.caption-container {
  flex-grow: 100;
  line-height: 1rem;
  text-align: center;
}

/* On hover, add a hover color */
.prev:hover,
.next:hover {
  color: var(--link-colour-hover);
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

/* For thumbnails and cards */
.thumbnail-column {
  justify-content: center;
}

/* Add a transparency effect for thumbnail images */
.thumbnails {
  cursor: pointer;
  height: 150px;
  margin: 0px 25px;
  opacity: 0.5;
  padding: 10%;
}

.active,
.thumbnails:hover {
  opacity: 1;
}

.item-detail-container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px auto 150px auto;
  padding-bottom: 25px;
  width: 60%;
}

.item-detail-column {
  min-width: 200px;
  padding: 0 5%;
  width: 40%;
}

.item-detail-column a {
  text-decoration: underline;
}

.polaroid {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  margin: 15px;
}

.polaroid img {
  border-radius: 5px 5px 0 0;
}

.polaroid-container {
  padding: 0px;
  text-align: center;
  text-wrap: wrap;
  width: 250px;
}

/* IMAGE MODEL TO ZOOM / LOAD HIGHER RESOLUTION IMAGE */
.modelImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modelImage:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; /* Hidden by default */ /* Stay in place */ /* Sit on top */ /* Location of the box */ /* Full width */ /* Full height */ /* Enable scroll if needed */ /* Fallback color */ /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  display: block;
  height: 90vh;
  margin: auto;
  max-width: 700px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-duration: 0.6s;
  -webkit-animation-name: zoom;
  animation-duration: 0.6s;
  animation-name: zoom;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.xmodel:hover,
.xmodel:focus {
  cursor: pointer;
}

/* Hide thumbnail images on small screens */

@media screen and (max-width: 1300px) {
  .thumbnails {
    height: 100px;
  }
}

@media screen and (max-width: 992px) {
  .thumbnail-container {
    display: none;
  }
  .item-detail-column {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
